<div class="page-header">
    <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/fondo2.jpg');">
    </div>
    <div class="container">
        <div class="content-center brand">
        <img class="n-logo d-none-" src="./assets/img/froy.jpg" alt="">
        <h1 class="h4 font-weight-bold">{{ miPerfil }}.</h1>
        <h3 class="h5">{{ tecnologias }}.</h3>
        </div>
        <h6 class="category category-absolute designedBy"><span>Diseñado por <a href="/" class="text-success">{{ designedBy }}</a></span>. con {{ poweredBy }}.</h6>
        
        <div class="container-btn position-absolute">
        <a href="#about-me" class="position-relative btn btn-sm btn-success next scroll-down toggle-bottom">Continuar</a>
        </div>
    </div>
</div>
